<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <a class="navbar-brand">AMK</a>
    </div>
    <div class="collapse navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
      <ul class="nav navbar-nav">

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle cursorPointer" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="cursorPointer" (click)="logout()">Logout</a></li>
            <li><a class="cursorPointer">Home</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<p-toast position="top-right"></p-toast>
<div class="container">
  <h1 class="text-center">ARTICLES</h1>
  <div class="row">
    <button class="btn btn-primary pull-right" (click)="addNewArticles()">Add Article</button>
    <div class="col-md-6" *ngFor="let item of artilces">
      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" [src]="item.avatar"
            style="width: 200px; height: 250px;">
          <h6 class="mb-0">
            <a class="text-dark">{{item.name}}</a>
          </h6>
          <div class="mb-1 text-muted small">{{item.createdAt}}</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
            additional content.</p>
          <a class="btn btn-outline-primary btn-sm" role="button">Continue
            reading</a>
          <div class="row">
            <div class="btn btn-info btn-sm" type="button" (click)="onEdit(item)">
              Edit
            </div>
            <div class="btn btn-info btn-sm" type="button" (click)="onDelete(item)">
              Delete
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

<p-dialog header={{headerName}} [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
  [draggable]="false" [resizable]="false">
  <form [formGroup]="articleFormGroup" (ngSubmit)="onSubmit(articleFormGroup)">
    <div class="row">
      <div class="col-xs-12">
        <label>Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
        <span class="text-danger"
          *ngIf="(registerFormControl.name.touched || submitted) && registerFormControl.name.errors?.required">
          User Name is required
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="imagePath">Image URL</label>
          <input type="text" id="imagePath" formControlName="avatar" class="form-control" #avatar>
          <span class="text-danger"
            *ngIf="(registerFormControl.avatar.touched || submitted) && registerFormControl.avatar.errors?.required">
            Image URL is required
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <img [src]="avatar.value" class="img-responsive">
      </div>
    </div>
    <br>

    <p-footer>
      <button type="submit" class="btn btn-primary pull-right">{{buttonName}}</button>
      <button type="button" (click)="displayModal=false" class="btn btn-danger pull-right">Close</button>
    </p-footer>
  </form>
</p-dialog>
</div>
